<div class="mat-table__wrapper mat-table__wrapper--dashboard mb-4">
    <table mat-table class="lmat-elevation-z8" [dataSource]="dataSource">
        <ng-container matColumnDef="sg_event_id">
            <th mat-header-cell *matHeaderCellDef> SG Event Id </th>
            <td mat-cell *matCellDef="let event"> {{event.sg_event_id}} </td>
        </ng-container>
        <ng-container matColumnDef="sg_message_id">
            <th mat-header-cell *matHeaderCellDef> SG Message ID </th>
            <td mat-cell *matCellDef="let event"> {{event.sg_message_id}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let event" class="mat-column-vinCode"> {{event.email}} </td>
        </ng-container>
        <ng-container matColumnDef="event">
            <th mat-header-cell *matHeaderCellDef> Event </th>
            <td mat-cell *matCellDef="let event"> {{event.event}} </td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let event"> {{event.timestamp | unixToDate}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let event"> {{event.category}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
</div>
